<div class="order-new-body">
  <div class="detail">
  <div>
  <h1>支持回报详情</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>项目名称</td>
        <td>发起人</td>
        <td>筹款金额</td>
        <td>支持份数</td>
        <td>回报描述</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "plan_items", object: @order, as: "item"%>
    </tbody>
  </table>
</div>

<div>
  <p>
      总计：¥ <%= @order.total_price %>
  </p>
</div>
<!-- <div>
  <table class="table table-striped table-bordered">
    <tr>
      <td>支持者</td>
    </tr>
    <tr>
      <td>
        <address>
          <%#= @order.backer_name %>
        </address>
      </td>
    </tr>
  </table>
</div> -->

<div>
  <% if @order.paid? %>
  <% if @order.payment_method == 'Alipay' %>
  <%= link_to("您已使用支付宝支付", "#", :class => "btn btn-info disabled") %>
  <% else %>
  <% @order.payment_method == 'WeChat' %>
  <%= link_to("您已使用微信支付", "#", :class => "btn btn-success disabled") %>
  <% end %>
<% else %>
    <%= link_to("支付宝支付", pay_with_alipay_account_order_path(@order.token), method: :post, class: "btn btn-info") %>
    <%= link_to("微信支付", pay_with_wechat_account_order_path(@order.token), method: :post, class: "btn btn-success") %>
  <% end %>
</div>
</div>
</div>
