<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <p class="thumbnail">
                <%= image_tag(@project.image.show) %>
            </p>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <h1>
                    <%= @project.name %>
                </h1>
                <h3>筹款目标 ¥
                    <%= @project.fund_goal %></h3>
                <%= link_to("通过发布请求", pass_verify_admin_projects_verify_path(@project), :method => :post, :class => "btn btn-success" ) %>
                <br/>
                <br/>
                <%= form_tag reject_verify_admin_projects_verify_path(@project) do %>
                <input name="message" type="text" placeholder="请填写拒绝原因"/>
                <br/>
                <input type="submit" value="拒绝发布请求" class="btn btn-danger"/>
                <% end %>
                <%#= simple_form_for  @identity_verification do |f| %>
                <%#= f.input :message, :placeholder => "请填写拒绝原因" %>
                <%# end %>

                <%#= link_to("拒绝发布请求", reject_verify_admin_projects_verify_path(@project), :method => :post, :class => "btn btn-danger" ) %>

                <%= form_tag('/jobs',id: :form ,method: "get") do %>
    <%= select_tag "order",raw('排序薪资下限 薪资上限发布时间'),class: "custom-select" %>
    <%= submit_tag(value = "search", class: "btn btn-primary") %>
  <% end %>
  <%= radio_button_tag(:age, "child") %>
<%= label_tag(:age_child, "I am younger than 21") %>
<%= radio_button_tag(:age, "adult") %>
<%= label_tag(:age_adult, "I'm over 21") %>


<%= text_area_tag(:message, "Hi, nice site", size: "24x6") %>
<%= password_field_tag(:password) %>
<%= hidden_field_tag(:parent_id, "5") %>
<%= search_field(:user, :name) %>
<%= telephone_field(:user, :phone) %>
<%= date_field(:user, :born_on) %>
<%= datetime_local_field(:user, :graduation_day) %>
<%= month_field(:user, :birthday_month) %>
<%= week_field(:user, :birthday_week) %>
<%= url_field(:user, :homepage) %>
<%= email_field(:user, :address) %>
<%= color_field(:user, :favorite_color) %>
<%= time_field(:task, :started_at) %>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5) %>
<%= range_field(:product, :discount, in: 1..100) %>


            </div>
        </div>
    </div>
</div>
<div class="container-fluid well">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
            筹款方案：
            <% @plans.each do |plan| %>
            <div class="well">
                <p>
                    <%= plan.title %>
                </p>
                <p>
                    <%= simple_format(plan.description) %>
                </p>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="container-fluid well">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
            筹款项目描述：
            <p><%= simple_format(@project.description) %></p>
        </div>
    </div>
</div>
