<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <p class="thumbnail">
                <%= image_tag(@projects_verifying.image.show) %>
            </p>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <h1>
                    <%= @projects_verifying.name %>
                </h1>
                <h3>筹款目标 ¥
                    <%= @projects_verifying.fund_goal %></h3>
                <%= link_to("通过发布请求", pass_verify_admin_projects_verify_path(@projects_verifying), :method => :post, :class => "btn btn-success" ) %>
                <br/>
                <br/>
                <%= form_tag reject_verify_admin_projects_verify_path(@projects_verifying) do %>
                <input name="message" type="text" placeholder="请填写拒绝原因"/>
                <br/>
                <input type="submit" value="拒绝发布请求" class="btn btn-danger"/>
                <% end %>
                <%#= simple_form_for  @identity_verification do |f| %>
                <%#= f.input :message, :placeholder => "请填写拒绝原因" %>
                <%# end %>

                <%#= link_to("拒绝发布请求", reject_verify_admin_projects_verify_path(@projects_verifying), :method => :post, :class => "btn btn-danger" ) %>

        </div>
    </div>
</div>
<div class="container-fluid well">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
            筹款回报：
            <% @plans.each do |plan| %>
            <div class="well">
                <p>
                    <%= plan.title %>
                </p>
                <p>
                    <%= sanitize(plan.description) %>
                </p>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="container-fluid well">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
            筹款项目描述：
            <p><%= sanitize(@projects_verifying.description) %></p>
        </div>
    </div>
</div>
