<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

<div class="well" id="devise-input-width">
<h2 class="devise-h2" >注册用户</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <%#= f.input :user_name, required: true, label:false, autofocus: true, :placeholder => "用户名" %>
      <div class="input-group margin-bottom-sm devise-form">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <%= f.input :email, required: true, label:false, autofocus: true, :placeholder => "电子邮箱"%>
      </div>
      <%#= f.input :phone_number, required: true, label:false, autofocus: true, hint: "请通过下方滑块验证之后再点击发送短信随机密码", :placeholder => "手机号"%>
      <!-- <div class="form-actions">
        <input type="button" id="send_verification_code" value="发送短信验证码" class="btn btn-default"/>
        <%#= link_to("", "javascript:void(0)", class: "btn btn-default", id: "send_verification_code") %>
        <%#= f.button :button, "发送短信随机密码" ,  %>
      </div> -->
      <!-- <br /> -->
      <%#= f.input :captcha, required: true, label:false, autofocus: true, :placeholder => "短信随机密码" %>
      <div class="input-group  devise-form">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <%= f.input :password, class: "form-control devise-form" ,required: true, label:false, :placeholder => "密码,至少8位英文数字组合"%>
      </div>
      <div class="input-group devise-form">
        <span class="input-group-addon "><i class="fa fa-key fa-fw"></i></span>
      <%= f.input :password_confirmation, class: "form-control", required: true , label:false,  :placeholder => "确认密码" %>
    </div>
      <div >
        <!-- <script type="text/javascript" src="http://api.geetest.com/get.php?gt=a4b2ec9158bea9022e35c1b414e07adc"></script> -->
      </div>
      <br />
      <div class="form-actions ">
        <%= f.button :submit, "注册用户" , :class => "btn btn-success btn-block"  %>
      </div>
  <% end %>
  <br />
  已经有账号？<%= render "devise/shared/links" %>
</div>
</div>
