<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

<h2>注册用户</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

      <%#= f.input :user_name, required: true, label:false, autofocus: true, :placeholder => "用户名" %>
      <%= f.input :email, required: true, label:false, autofocus: true, :placeholder => "电子邮箱" %>
      <%= f.input :phone_number, required: true, label:false, autofocus: true, hint: "请通过下方滑块验证之后再点击发送短信随机密码", :placeholder => "手机号"%>
      <script type="text/javascript" src="http://api.geetest.com/get.php?gt=a4b2ec9158bea9022e35c1b414e07adc"></script>
      <br />
      <div class="form-actions">
        <input type="button" id="send_verification_code" value="发送短信验证码" class="btn btn-default"/>
        <%#= link_to("", "javascript:void(0)", class: "btn btn-default", id: "send_verification_code") %>
        <%#= f.button :button, "发送短信随机密码" ,  %>
      </div>
      <br />

      <%= f.input :captcha, required: true, label:false, autofocus: true, :placeholder => "短信随机密码" %>
      <%= f.input :password, required: true, label:false, hint: ("至少 #{@minimum_password_length}  位英文字母和数字组合" if @minimum_password_length), :placeholder => "密码" %>
      <%= f.input :password_confirmation, required: true , label:false,  :placeholder => "确认密码"%>
      <div class="form-actions">
        <%= f.button :submit, "注册用户" , :class => "btn btn-success"  %>
      </div>
  <% end %>
  <br />
  已经有账号？<%= render "devise/shared/links" %>
</div>

<script>

$(function() {

  if($.cookie("total")!=undefined&&$.cookie("total")!='NaN'&&$.cookie("total")!='null'){//cookie存在倒计时
    timekeeping();
  }else{//cookie 没有倒计时
    $('#send_verification_code').attr("disabled", false);
  }

  $("#send_verification_code").click(function() {
    phoneNumber = $.trim($("#user_phone_number").val())
    if(phoneNumber != undefined && phoneNumber != "") {
      send_verification_code(phoneNumber);
    } else {
      alert("请先输入手机号码")
    }
  })

})

function timekeeping(){
    //把按钮设置为不可以点击
    $('#send_verification_code').attr("disabled", true);
    var interval=setInterval(function(){//每秒读取一次cookie
      //从cookie 中读取剩余倒计时
      total=$.cookie("total");
      //在发送按钮显示剩余倒计时
      $('#send_verification_code').val('请等待'+total+'秒');
      //把剩余总倒计时减掉1
      total--;

      if(total==0){//剩余倒计时为零，则显示 重新发送，可点击
      //清除定时器
      clearInterval(interval);
      //删除cookie
      total=$.cookie("total",total, { expires: -1 });

      //显示重新发送
      $('#send_verification_code').val('重新发送');
      //把发送按钮设置为可点击
      $('#send_verification_code').attr("disabled", false);
      }else{//剩余倒计时不为零

      //重新写入总倒计时
      $.cookie("total",total);
      }
    },1000);

  }

function send_verification_code(phoneNumber) {
  geetestChallenge = $("input[name='geetest_challenge']").val();
  geetestValidate = $("input[name='geetest_validate']").val();
  geetestSeccode = $("input[name='geetest_seccode']").val();
  $.ajax({
    url: "/account/users/"+ Math.floor((Math.random() * 10) + 1) +"/send_verification_code",
    method: "post",
    data: {phone_number: phoneNumber, geetest_challenge: geetestChallenge, geetest_validate: geetestValidate, geetest_seccode: geetestSeccode},
    dataType: "json",
    success: function(data){
      if(data.status == "n") {
        window.location.href = "/users/sign_up";
      } else {
        $.cookie("total", 60);
        timekeeping();
      }
    }
  });
}


</script>
