<div class="col-sm-12 col-md-3 col-md-offset-3 col-lg-4 col-md-offset-3">

<h2>忘记密码?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="input-group margin-bottom-sm devise_form">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <%= f.input :email, required: true, label: false, autofocus: true , :placeholder => "请输入您的邮箱地址" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "发送恢复密码链接到邮箱",:class => "btn btn-success"   %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
<br />
</div>
