<%= simple_form_for [:account, @project] do |f| %>
  <%= f.simple_fields_for current_user do |user| %>
    <%= user.input :user_name, label: "发起人姓名", maxlength: 8 %>
  <% end %>
  <%= f.input :image, :label =>"封面图片" %>
  <%= f.input :name, :label =>"项目名称" %>
  <p><strong>项目描述</strong></p>
  <%= f.trix_editor :description, :label =>"项目描述" %>
  <%= f.input :category_id,:collection => @categories,:label_method => :chs_name,:value_method => :id,:label => "请选择分类",:include_blank => false %>
  <%= f.input :fund_goal, :label =>"筹款金额" %>
  <%= f.input :video, :label => "宣传视频（请贴优酷视频公开链接）" %>

  <%# if ["new", "create"].include?(controller.action_name) %>
    <%#= f.submit "下一步", class: "btn btn-success pull-right" %>
  <%# else %>
  <%#= link_to("放弃更新", admin_projects_path, class: "btn btn-default" ) %>
    <%#= f.submit "提交更新", class: "btn btn-success" %>
  <%# end %>
<% end %>
