<div class="account-project-index">
  <% @projects.each do |project| %>
    <div class="project-box">
      <div class="project-title">
        <h2><%= project.name %></h2>
      </div>
      <hr />
      <div class="project-info">
        <div class="project-image">
          <img src="<%= project.image.large %>" >
        </div>
        <div class="project-detail">
          <p>筹款目标<span><%= project.fund_goal %></span>&nbsp元</p>
          <p>回报数量<span><%= link_to(project.plans_count, account_project_plans_path(project)) %></span>&nbsp个</p>
          <p>动态数量<span><%= link_to(project.posts.count, account_project_posts_path(project))  %></span>&nbsp条</p>
          <p>支持人数<span><%= project.backer_quantity %></span>&nbsp人</p>
          <p>筹款进度<span><%= render_project_funding_progress(project) %></span></p>
        </div>
      </div>
      <div class="project-oprate">
        <%= render_project_operation(project) %>
        <%= render_project_status(project) %>
      </div>
    </div>
  <% end %>
</div>
