<div class="row">
    <div class="col-md-12 com-md-offset-0 lp-title-bg">
        <div calss="frosted-glass"></div>
        <div>
            <h1 class="lp-title-h1">
                下一个火箭项目的助跑平台
            </h1>
        </div>
        <div>
            <h2 class="lp-title-h2">
                万种筹资，助推才华青年最后一把，催成下一个世界级人才
            </h2>
        </div>
        <div class="lp-title-btn">
            <%= link_to("立刻行动", new_account_project_path, class: :"btn btn-success btn-lg") %>
        </div>
    </div>
</div>

<div class="row lp-container">
    <div class="lp-container-flex">
        <h3 class="text-center">热门推荐</h3>
        <% @projects.each do |project| %>
        <div class="lp-container-col">
            <div class="image">
                <%= link_to(image_tag(project.image.landing_page), project_path(project)) %>
            </div>

            <%= link_to(project.name, project_path(project), class:"lp-container-title" )%>
            <div class="lp-container-text trix">
                <%= sanitize(project.description)%>
            </div>

            <div>
                <%= render_progress_landing_page(number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 2)) %>
            </div>
            <div class="lp-text-col">
                <div class="lp-container-figure">
                    <%= number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 0) %>%
                    <br>
                </div>
                筹款进度
            </div>
            <div class="lp-text-col">
                <div class="lp-container-figure">
                    <%= project.fund_progress %>元
                </div>
                已筹款
            </div>
            <div class="lp-text-col">
                <div class="lp-container-figure">
                    <%= project.backer_quantity %>人
                </div>
                支持人数
            </div>
        </div>
       <% end %>
        <div >
               <%= link_to("查看所有项目", projects_path,class:"btn btn-bordered")%>
        </div>
  </div>
</div>
