<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" id="devise-input-width">
    <%= f.input :current_password, label: false, :placeholder => "请输入你的原密码",required: true %>
    <%= f.input :password, autocomplete: "off", label: false, :placeholder => "请输入你的新密码", required: false %>
    <%= f.input :password_confirmation, required: false , label: false, :placeholder => "请再次输入你的新密码" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "确认更新密码",class: "btn btn-sm btn-default"%>
    <%= link_to("放弃更新", account_users_path, class: "btn btn-sm btn-default") %>
  </div>
<% end %>
