<h2>修改密码</h2>

<%= simple_form_for [:account,@user] do |f| %>


  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "新密码", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "新密码确认", required: true %>
  </div>

  <div class="form-actions">
    <%= link_to("放弃修改", account_users_path, class: "btn btn-sm btn-default" ) %>
    <%= f.button :submit, "确认修改",class: "btn btn-sm btn-default" %>
  </div>
<% end %>
