<div class="user-center-detail-block">
<h2> 修改个人资料 </h2>
<%= simple_form_for [:account,@user] do |f| %>
<div>
  <img src="<%=current_user.image.mdimage%>" class="normal-head">
</div>
<div>
<%= f.input :image, :label =>"用户头像（有头像的用户发起的项目会赢得信任感哦）" %>
<%= f.input :user_name, :label =>"用户名",:input_html => { class: 'user-name-input-witdth'} %>
<%= f.input :email, :label =>"邮箱地址",:input_html => { class: 'user-name-input-witdth'}  %>
<%= f.input :weibo, :label =>"微博", :placeholder => "有微博的用户更能获得支持者的信任哦", :input_html => { class: 'user-weibo-input-witdth'} %>
<%= f.input :description, :label =>"个人简介", input_html: {class: 'user-info-input-witdth'}  %>
<%#= link_to("放弃更新", account_users_path, class: "btn btn-sm btn-default" ) %>
<%= f.submit "提交", class: "btn btn-sm btn-default" %>
</div>
<% end %>
</div>
