
<div class=" col-sm-12 col-md-6 col-lg-6 col-sm-offset-0 col-md-offset-3" >
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">我的资料</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3" align="center"> <img src="<%=@user.image.mdimage%>" class="img-circle img-responsive"> </div>
        <div class=" col-md-9 col-lg-9 ">
          <table class="table table-user-information">
            <tbody>
              <tr>
              <td >用户名</td>
               <td><%= @user.user_name %></td>
             </tr>
              <tr>
              <td>电子邮箱</td>
              <td><%= @user.email %></td>
              </tr>
              <tr>
              <td>注册时间</td>
              <td><%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              </tr>
              <tr>
              <td>我的身份</td>
              <td>众筹人 ／ 支持者<%#= render_user_level(user) %></td>
              </tr>
            </tbody>
          </table>
          <div>
            <%= link_to("修改我的资料", edit_account_user_path(@user), :class => "btn btn-xs btn-info") %>
            <% if @user.aasm_state == "user_registered" %>
            <%= link_to("申请实名认证", apply_for_certify_account_user_path(@user), :method => :post, :class => "btn btn-xs btn-info") %>
            <% elsif @user.aasm_state == "request_verify" %>
            <%= content_tag(:span, "实名认证审核中，请耐心等待...", class: "label label-success") %>
            <% elsif @user.aasm_state == "passed_verified" %>
            <%= link_to("已实名认证", "#", :class => "btn btn-xs btn-success disabled") %>
            <% else %>
            <%= link_to("再次申请实名认证", apply_for_certify_account_user_path(@user), :method => :post, :class => "btn btn-xs btn-info") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
