<%= simple_form_for [:admin, @user], :url => verify_phone_number_account_user_path, method: :post do |f| %>
    <div class="panel-heading">
      <h2>验证手机</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-lg-2" align="center"> <img src="<%=@user.image.mdimage%>" class="img-circle img-responsive"> </div>
        <div class=" col-md-6 col-lg-6 ">
          <div id="devise-input-width" >
           <%= f.input :phone_number, required: true, label: "手机号码" ,class: "form-control" %>
         </div>
            <!-- <script type="text/javascript" src="http://api.geetest.com/get.php?gt=a4b2ec9158bea9022e35c1b414e07adc"></script> -->
            <div class="form-inline devise-form">
            <%= f.input :captcha, required: true, label: "验证码"%>
            <input type="button" id="send_verification_code" value="发送短信验证码" class="btn btn-sm btn-default"/>
            </div>
            <%= f.button :submit, "提交" , disable_with: "验证中...", :class => "btn btn-sm btn-defualt"  %>
        </div>
      </div>
    </div>
<% end %>

<script src="verify-phone-number.js"></script>
