<div>
  <h2>
    <span>所有项目 | </span>
    <span><%= link_to("待认证项目",  admin_projects_verify_index_path, ) %></span>
  </h2>
</div>
<div class="pull-right">
    <%= link_to("新建众筹项目", new_admin_project_path, :class => "btn btn-success" ) %>
</div>

<div class="dropdown clearfix pull-right">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          按类型
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li><%= link_to("全部", admin_projects_path) %></li>
        <% @categories.each do |category| %>
        <li><%= link_to(category.chs_name, admin_projects_path(category_id: category.id)) %></li>
        <% end %>
      </ul>
  </div>
<table class="table table-boldered">
    <thead>
        <tr>
            <th>众筹项目</th>
            <th>项目发起者</th>
            <th>方案数量</th>
            <th>筹款目标</th>
            <th>支持人数</th>
            <th>进度</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
       <% @projects.each_with_index do |project, index| %>
        <tr>
            <td>
                <%= link_to(project.name, project_path(project)) %>
                <br/>
                <%= render_project_image(project,:thumb) %>
            </td>
            <td>
                <%= User.find(project.user_id).user_name %>
            </td>
            <td>
                <%= link_to(project.plans_count, admin_project_plans_path(project)) %>
            </td>
            <td>
                ¥<%= project.fund_goal %>
            </td>
            <td>
                <%= project.backer_quantity %>
                人
            </td>
            <td>
                <%= number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 2) %>
                %
            </td>
            <td>
                <%= render_project_status(project) %>
            </td>
            <td>
                <%= link_to("编辑项目", edit_admin_project_path(project), :class => "btn btn-xs btn-default") %>
                <%= link_to("管理筹款方案", admin_project_plans_path(project), :class => "btn btn-xs btn-default") %>
                <%= link_to("删除", admin_project_path(project), :method => :delete, :data => { :confirm => "删除项目后不可恢复，您确定要删除吗?" }, :class => "btn btn-xs btn-default") %>
                <% if project.aasm_state == "online" %>
                  <%= link_to("下架", offline_admin_project_path(project),method: :post, :class => "btn btn-xs btn-default") %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="text-center">
  <%= will_paginate @projects %>
</div>
