

 <%= simple_form_for [:plan, @order] do |f|%>
<div class="order-new-body">
  <div class="detail">
  <div>
  <div class="form">

    <div class="form-group">
      <%= f.input :price, as: "hidden",  input_html: {value: @order.price }, label: "赞助金额", placeholder: "请填写价格"%>
      <%= render_need_add(f, @order) %>
      <%#= f.input :quantity, input_html: {class: "form-control", :readonly => true, value: @order.quantity }, label: "赞助数量", placeholder: "请填写数量" %>
      <%#= f.submit "提交", class: "btn btn-primary", data: {disable_with: "Submitting.."} %>
    </div>
  </div>
  <h1>支持回报详情</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>项目名称</td>
        <td>发起人</td>
        <td>支持者</td>
        <td>筹款金额</td>
        <td>支持份数</td>
        <td>回报描述</td>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "account/orders/plan_items", object: @plan, as: "item"%>
    </tbody>
  </table>
</div>

<div>
  <p>
      总计：¥ <%= @plan.price %>
  </p>
</div>
<%= f.submit "支付宝支付", class: "btn btn-info", data: {disable_with: "提交中.."} %>
<%= f.submit "微信支付", class: "btn btn-success", data: {disable_with: "提交中.."} %>
<% end %>
</div>
</div>
