<% @projects.where("aasm_state = ? ", "online").each do |project| %>
<div class="index-project">
  <div class="index-project-img">
    <%= link_to(image_tag(project.image.large), project_path(project)) %>
  </div>
  <div class="index-project-detail">
    <div>
      <h2><%= link_to(project.name, project_path(project)) %></h2>
    </div>
    <div class="index-user-info">
      <span class="name"><%= project.user.user_name %></span>&nbsp <%= render_project_created_at(project.created_at) %>&nbsp发起</span>
    </div>
    <hr />
    <div class="index-num">
      <span><%= project.backer_quantity %></span>
    </div>
      <div class="index-text">
          <span>支持人数</span>
    </div>
    <div  class="index-num">
        <span>¥ <%= project.fund_progress %></span>
    </div>
    <div class="index-text">
        <span>已筹资金</span>
  </div>
    <div  class="index-num">
        <span><%= number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 0) %>%</span>
    </div>
    <div class="index-text">
        <span>筹款进度</span>
  </div>
    <div>
        <%= render_progress_landing_page(number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 2)) %>
    </div>
  </div>
</div>
<% end %>
