<div class="container-fluid">
  <div class="thumbnail">
   <!-- <img style="width:100%" src="/images/Creator.png"></img> !-->
   <div class="well">
     這裏擺 Hero Image （暫時不能妨礙開發工作）
   </div>
  </div>
      <div class="row">
        <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-4 col-md-8-offset-4">
          <%= link_to(image_tag(project.image.show), project_path(project), class: "thumbnail") %>
            <h2><%= link_to(project.name, project_path(project)) %></h2>
            <p><%= simple_format(project.description) %></p>
            <p>筹集目标金额：<%= project.fund_goal %></p>
            <p>当前已支持 <%= number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 2) %>%</p>
            <p>当前已有 <%= project.backer_quantity %> 人支持</p>
        </div>
        <% end %>
      </div>
</div>
