<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
            <li class="categoryHeader"><%= link_to("全部分类", projects_path) %></li>
            <% @categories.each do |category| %>
            <li><%= link_to(category.chs_name, projects_path(category_id: category.id)) %></li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-10">
      <%#= render :partial => "projects/search_bar" %>
        <% @projects.each do |project| %>
        <div class="col-md-6 col-md-offset-0 well">
            <%= link_to(image_tag(project.image.show), project_path(project), class: "thumbnail") %>
            <h2><%= link_to(project.name, project_path(project)) %></h2>
            <p>筹集目标金额 ¥
                <%= project.fund_goal %>
              &nbsp| &nbsp 已筹到 ¥
                <%= project.fund_progress %></p>
                <p>
                    <%= render_progress(number_with_precision(project.fund_progress.to_f / project.fund_goal * 100, :precision => 2)) %></span>当前已有
                <%= project.backer_quantity %>
                人支持</p>
            <%#= link_to("支持项目", project_plans_path(project), :class => "btn btn-success" ) %>
        </div>
        <% end %>
    </div>
</div>
</div>
