<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8-offset-1">
        <p class="thumbnail">
          <%= image_tag(@project.image.show) %>
        </p>
      </div>

    <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
    <div class="pull-right">
      <h1> <%= @project.name %> </h1>
      <h3>已筹到</h3>
      <h3>¥ <%= @total_price %></h3>
      <h5>当前已支持 <%= @progress %>%</h5>
        <%= link_to("支持项目", plans_path, :class => "btn btn-success" ) %>
    </div>
  </div>
</div>
</div>

<hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-8-offset-1">
        <p><%= simple_format(@project.description) %></p>
        <p>筹款目标：<%= @project.fund_goal %></p>
      </div>
    </div>
  </div>
