<div class="project">
    <div>
        <div class="col-md-8 ">
            <div class="content">
                <div class="image">
                    <%= image_tag(@project.image.large) %>
                </div>
            </div>

            <div class="content">
                <h2>项目详情</h2>
                <p>
                    <div class="trix">
                        <div class="text">
                            <%= sanitize(@project.description) %>
                        </div>
                    </div>
                </p>
            </div>

            <div class="content">
                <h2 class="title">最新动态</h2>
                <% @posts.each do |post| %>
                <div class="trix">
                    <div class="text">
                        <%= sanitize(post.description)%>
                        <div class="post-date">
                            <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S")  %>
                        </div>
                        <hr>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="project-card">
            <div class="content">
                <h1>
                    <%= @project.name %>
                </h1>
                <p class="project-text">
                    <%= image_tag(@user.image.headimage) %>
                    <%= @user.user_name %>
                    的筹款目标为¥
                    <%= @project.fund_goal %>
                </p>
                <p class="project-text">
                    已筹到 ¥
                    <%= @project.fund_progress %>， 当前已支持
                    <%= number_with_precision(@project.fund_progress.to_f / @project.fund_goal * 100, :precision => 2) %>，
                    <%= @project.backer_quantity %>
                    人支持
                    <%= link_to("支持项目", project_plans_path(@project), :class => "reserve-btn" ) %>
                </p>
            </div>
        </div>

        <% @plans.each do |plan| %>
        <div class="content">

            <p>
                <div class="trix">
                    <div class="project-text">
                        <%= sanitize(plan.description) %>
                    </div>
                </div>
            </p>
            <p class="project-text" style="font-weight:bold ">
                限额
                <%= plan.plan_goal %>位 | 剩余<%= plan.plan_goal - plan.plan_progress %>位
            </p>
            <p>
                <%= link_to("支持#{plan.price}元", new_plan_order_path(plan), :class => "reserve-sm-btn" ) %>
            </p>
        </div>
        <% end %>
    </div>

</div>

<!-- 演示样式参考 -->
<!-- <img style="width:100%" src="/uploads/17.png"></img> -->
