<script type="text/javascript">
var jiathis_config = {
  boldNum:0,
  siteNum:7,
  showClose:false,
  sm:"t163,kaixin001,renren,douban,tsina,tqq,tsohu",
  imageUrl:"http://localhost:3000/images/default_pic.jpg",
  imageWidth:26,
  marginTop:150,
  url:"http://localhost:3000/projects/1",
  title:"我正在关注一个好项目，推荐你也来关注",
  summary:"",
  pic:"自定义分享的图片连接地址",
  data_track_clickback:true
}
</script>




<div class="projects">
    <div class="projects-container">
        <div class="bg-container">
            <div class="image">
                <%= image_tag(@project.image.large) %>
            </div>

            <div class="project-card">
                <h1>
                    <%= @project.name %>
                </h1>
                <div class="profile-card">
                    <div class="profile-icon">
                        <%=image_tag(@project.user.image.mdimage,style:"width:60px; height:60px")%>
                    </div>
                    <div class="profile-text">
                        <div style="font-size:16px">
                            <%= @project.user.user_name%>
                            <% if @project.user.passed_verified? %>
                            <img class="watermark" src="/images/user-v.png"></img>
                            <% end %>
                            <% if !@project.user.weibo.blank? %>
                            <%= link_to @project.user.weibo,  target:'_blank' do%>
                                <i class="fa fa-weibo" style="margin-right: 2px; color:#ec2970;"></i>
                            <% end %>
                            <% end %>
                        </div>

                        已有<%= @project.backer_quantity %>人支持

                    </div>
                </div>
                <div class="project-sm-text">
                    <p>
                        <% if @project.user.description.blank? %>
                        感谢你的来访，如果你对我的项目有兴趣，可以支持我的项目。
                    <% else %>
                        <%= @project.user.description%>
                        <% end %>
                    </p>
                </div>
                <div class="process-bar">
                    已筹到 ¥
                    <%= @project.fund_progress %>
                    <%= render_progress_show(number_with_precision(@project.fund_progress.to_f / @project.fund_goal * 100, :precision => 2))%>
                    <div class="text-col">
                        <div class="text-col-left">
                            <div class="container-figure">
                                <%= number_with_precision(@project.fund_progress.to_f / @project.fund_goal * 100, :precision => 0) %>%
                            </div>
                            筹款进度
                        </div>
                        <div class="text-col-right">
                            <div class="container-figure">
                                <%= @project.fund_goal %>元
                            </div>
                            筹款目标
                        </div>
                    </div>
                </div>
                <% if @project.offline? %>
                <%= link_to("筹款结束", "#", :class => "reserve-btn btn disabled" ) %>
            <% else %>
                <%= link_to("支持TA", project_plans_path(@project), :class => "reserve-btn btn") %>
                <% end %>

                <!-- JiaThis Button BEGIN -->
                <div class="jiathis_style_24x24">
                  <a class="jiathis_button_tsina"></a>
                	<a class="jiathis_button_qzone"></a>
                	<a class="jiathis_button_weixin"></a>


                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            </p>
        </div>
        </div>
        <div class="low-container">
          <div class="left-container">
              <div class="md-container">
                  <h2>项目详情</h2>

                  <hr class="thick">
                  <p>
                    <div style="text-align: center;">
                      <% if @project.video && @project.video.include?("youku") %>
                      <%= @project.video.html_safe %>
                      <% end %>
                    </div>

                      <div class="trix">
                          <div class="text">
                              <%= sanitize(@project.description) %>
                          </div>
                      </div>
                  </p>
              </div>
              <div class="md-container">
                  <h2 class="title">最新动态</h2>
                      <hr class="thick">
                  <% if @posts.size <= 0 %>
                  <div class="trix">
                      <div class="text">
                          我刚刚发起了<strong> <%= @project.name %> </strong>项目，请多多支持。
                      </div>
                  </div>
                  <% else %>
                    <% @posts.each do |post| %>
                          <div class="trix">
                              <div class="text">
                                  <%= sanitize(post.description)%>
                                  <div class="post-date">
                                      <%= render_order_created_at(post.created_at) %>
                                  </div>
                                  <hr class="thin">
                              </div>
                          </div>
                    <% end %>
                  <% end %>

              </div>
          </div>

          <div class="right-container">
              <% @plans.each do |plan| %>
              <div class="sm-container">
                <% if plan.plan_type == 1 %>
                  <p class="plan-price">
                    ￥<%= plan.price %>
                    <hr>
                  </p>
                <% else %>
                  无私奉献
                  <p class="plan-price">
                    <hr>
                  </p>
                <% end %>
                  <p>
                      <div class="trix">
                          <div class="project-text">
                              <%= sanitize(plan.description) %>
                          </div>
                      </div>
                  </p>
                  <% if plan.plan_type == 1 %>
                    <p class="project-text" style="font-weight:bold ">
                        限额
                        <%= plan.plan_goal %>位 | 剩余<%= plan.plan_goal - plan.plan_progress %>位
                    </p>
                  <% else %>
                    <p class="project-text" style="font-weight:bold ">
                        无限额
                    </p>
                  <% end %>

                  <% if @project.offline? %>
                  <p>
                      <%= link_to("筹款结束", "#", :class => "reserve-sm-btn btn disabled", disabled: true ) %>
                  </p>
              <% else %>
                  <% if plan.plan_type == 1 %>
                        <% if plan.backer_quantity < plan.plan_goal %>
                        <%= link_to("支持TA", new_plan_order_path(plan), :class => "reserve-sm-btn btn" ) %>
                        <% else %>
                        <%= link_to("限额已满", new_plan_order_path(plan), :class => "reserve-sm-btn btn disabled", disabled: true ) %>
                        <% end %>
                  <% else %>
                  <p>
                      <%= form_tag new_plan_order_path(plan), method: "get", class: "form-inline" do %>
                      <input type="number" min="1" max="999999" maxlength="6" name="custom_price" class="form-control" placeholder="请输入你想要支持的金额"/>
                  <p>
                      <%= submit_tag "支持TA", class: "reserve-sm-btn btn" %>
                  </p>
                      <% end %>
                  </p>
                  <% end %>
                  <% end %>
              </div>
              <% end %>
          </div>
        </div>
    </div>
</div>
