<h1><%= link_to(@project.name,  project_plans_path(@project)) %> 筹款方案管理</h1>
<div class="pull-right">
    <%= link_to("新增方案",   new_admin_project_plan_path(@project), class: "btn btn-warning")  %>
</div>
<table class="table table-boldered" , style="width: 100%; table-layout: fixed;">
    <thead>
        <tr>
            <th width="5%">ID</th>
            <th >方案名称</th>
            <th >方案详情</th>
            <th >方案价格</th>

            <th >进度</th>
            <th >操作</th>
            <th >创建时间</th>
        </tr>
    </thead>
    <tbody>
        <%  @plans.each do |plan| %>
        <tr>
            <td><%= plan.id %></td>
            <td><%= plan.title %></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= plan.description %>
            </td>
            <td><%= plan.price %>元</td>


            <td>
               <%= plan.plan_progress %>/ <%= plan.plan_goal %>
              <%#= number_with_precision(plan.plan_progress.to_f/plan.plan_goal * 100, precision: 2) %>
            </td>
            <td>
                <%= link_to("编辑", edit_admin_project_plan_path(plan.project, plan), class: "btn btn-xs btn-info" )%>
                <%= link_to("删除", admin_project_plan_path(plan.project,plan), method: :delete,  class: "btn btn-xs btn-danger" , data: {confirm: "确认删除该方案么?"}) %>
            </td>

            <td><%= plan.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
        <% end %>
    </tbody>
</table>
