<h2>管理分类</h2>
<div class="pull-right">
    <%= link_to("新建分类", new_admin_category_path, :class => "btn btn-success" ) %>
</div>

<table class="table table-boldered">

    <thead>
      <tr>
      <th>ID</th>
      <th>英文名</th>
      <th>中文名</th>
      <th>操作</th>
    </tr>
  </thead>
<% @categories.each do |category| %>
<tbody>
  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.chs_name %></td>
    <td>
    <%= link_to("编辑", edit_admin_category_path(category)) %>
     </td>
  </tr>
</tobdy>
  <% end %>
</table>
