<div class="input-block">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div>
    <%= f.input :email, required: true, label: false, autofocus: true , :placeholder => "请输入您的邮箱地址" %>
  </div>

  <div>
    <%= f.button :submit, "发送恢复密码链接到邮箱",:class => "btn btn-primary "   %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
<br />
</div>
