<h1>用户管理面板</h1>

<table class="table table-boldered">
  <thead>
    <th>ID</th>
    <th>用户名</th>
    <th>邮箱地址</th>
    <th>注册时间</th>
    <th>用户类型</th>
    <th>操作</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>
    <td>
      <%= user.user_name %>
    </td>
    <td>
      <%= user.email %>
    </td>
    <td>
      <%= user.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </td>
    <td>
      管理员 / 众筹人 ／ 支持者
      <%#= render_user_level(user) %>
    </td>
    <td>
      <%= link_to("编辑用户信息", edit_admin_user_path(user), :class => "btn btn-xs btn-info") %>
    </td>
    <!-- <td>
      <%# if !user.is_admin %>
        <%#= link_to("Set As Admin", promote_admin_user_path(user) , :method => :post, :class => "btn btn-xs btn-danger") %>
      <%# else %>
        <%#= link_to("Set As User", demote_admin_user_path(user) , :method => :post, :class => "btn btn-xs btn-success") %>
      <%# end %>
    </td> -->
  </tr>
  <% end %>
</tbody>
</table>
