
<h1>支持方案详情</h1>

<h3>请选择您要支持的方案：</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-8-offset-1">
    <div class="pull-right">
      <% @plans.each do |plan| %>
      <div class="col-xs-12 col-sm-4 col-md-8-offset-4">

        <p>
          <%= plan.title %>
        </p>
        <p>
          <%= plan.description %>
        </p>
        <p>
          限额 <%= plan.plan_goal %>位 | 剩余<%= plan.plan_goal - plan.plan_progress %>位
        </p>
        <p>
          <%= link_to("支持#{plan.price}元", new_plan_order_path(plan), :class => "btn btn-success" ) %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
