<div class="plans-head">
  <div>
    <h1>支持<span><%= @project.user.user_name %></span>的项目</h1>
  </div>
  <div>
    <p><%= link_to(@project.name,project_path(@project)) %></p>
  </div>
  <div class="plans-tips"><p>请选择回报方案</p></div>

</div>

<div class="plans-body">
  <% @plans.each do |plan| %>
  <div class="plans-des">
    <div class="plan-price">
      <% if plan.plan_type == 1 %>
        <p>
          ￥<%= plan.price %>
          <hr>
        </p>
      <% else %>
        <p>
          无私奉献
          <hr>
        </p>
      <% end %>

  </div>
  <div>
      <p>
              <div>
                  <%= sanitize(plan.description) %>
              </div>
      </p>
      <% if @project.offline? %>
      <p>
          <%= link_to("筹款结束", "#", :class => "reserve-sm-btn btn disabled", disabled: true ) %>
      </p>
  <% else %>
      <% if plan.plan_type == 1 %>
      <%= link_to("支持TA", new_plan_order_path(plan), :class => "reserve-sm-btn btn" ) %>
  <% else %>
      <p>
          <%= form_tag new_plan_order_path(plan), method: "get", class: "form-inline" do %>
          <input type="text" name="custom_price" class="form-control" placeholder="请输入自定义金额"/>
          <% if @project.offline? %>
          <%= submit_tag "筹款结束", class: "reserve-sm-btn btn disabled ", disabled: true %>
      <% else %>
      <p>
          <%= submit_tag "支持TA", class: "reserve-sm-btn btn" %>
      </p>

          <% end %>
          <% end %>
      </p>
      <% end %>
      <% end %>
  </div>
</div>
  <% end %>
</div>
