<div class="plans-head">
  <div>
    <h1>支持<span><%= @user.user_name %></span>的项目</h1>
  </div>
  <div>
    <p><%= link_to(@project.name,project_path(@project)) %></p>
  </div>
</div>
<div> </div>

<div class="plans-body">
  <!-- <div>请选择你要支持的方案</div> -->
  <% @plans.each do |plan| %>
  <div class="plans-des">
    <p class="plan-price">
      ￥<%= plan.price %>
      <hr>
    </p>
      <p>
          <div class="trix">
              <div class="project-text">
                  <%= sanitize(plan.description) %>
              </div>
          </div>
      </p>
      <% if @project.offline? %>
      <p>
          <%= link_to("筹款结束", "#", :class => "reserve-sm-btn btn disabled", disabled: true ) %>
      </p>
  <% else %>
      <% if plan.plan_type == 1 %>
      <%= link_to("支持TA", new_plan_order_path(plan), :class => "reserve-sm-btn btn" ) %>
  <% else %>
      <p>
          <%= form_tag new_plan_order_path(plan), method: "get", class: "form-inline" do %>
          <input type="text" name="custom_price" class="form-control" placeholder="请输入自定义金额"/>
          <% if @project.offline? %>
          <%= submit_tag "筹款结束", class: "reserve-sm-btn btn disabled ", disabled: true %>
      <% else %>
      <p>
          <%= submit_tag "支持TA", class: "reserve-sm-btn btn" %>
      </p>

          <% end %>
          <% end %>
      </p>
      <% end %>
      <% end %>
  </div>
  <% end %>

  <div class="plans-info">
    当前进度
  </div>
</div>
