
<h1>支持方案详情</h1>

<h3>请选择您要支持的方案：</h3>

<div class="container-fluid">
  <div class="row">
    <% @plans.each do |plan| %>

    <div class="well">

        <p>
          <%= plan.title %>
        </p>
        <p>
          <%= simple_format(plan.description) %>
        </p>
        <p>
          限额 <%= plan.plan_goal %>位 | 剩余<%= plan.plan_goal - plan.plan_progress %>位
        </p>
        <% if plan.plan_type == 1 %>
          <p>
            <%= link_to("支持#{plan.price}元", new_plan_order_path(plan), :class => "btn btn-success" ) %>
          </p>
        <% else %>
          <p>
            <%= form_tag new_plan_order_path(plan), method: "get", class: "form-inline" do %>
              <input type="text" name="custom_price" class="form-control" placeholder="请输入自定义金额"/>
              <%= submit_tag "支持", class: "form-control btn btn-primary" %>
            <% end %>
          </p>
        <% end %>

      </div>
      <% end %>
</div>
</div>

<!-- 样式参考 -->
<!-- <img style="width:100%" src="/uploads/18.png"></img> -->
