

<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title_tag %>
    <%= render_page_description_meta_tag %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/images/rocket2.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="row">
        <div class="col-md-2 col-md-offset-1">
        <ul class="nav nav-pills nav-stacked user-menu-li side-bar-block">
        <%= active_link_to("关于我们", about_us_path , :active => :inclusive, :wrap_tag => :li ) %>
        <%= active_link_to("联系我们", how_it_works_path , :active => :inclusive, :wrap_tag => :li ) %>
        <%= active_link_to("服务协议", help_term_path , :active => :inclusive, :wrap_tag => :li ) %>
        <%= active_link_to("帮助中心", how_it_works_path , :active => :inclusive, :wrap_tag => :li ) %>
        </ul>
      </div>
        <div class="col-md-8 des-block">
        <%= yield %>
      </div>
    </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
