<!DOCTYPE html>
<html>
    <head>
        <title>人才火箭</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body style="background-image: url(/images/Body_bg.png);">

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <%= render "common/flashes" %>

            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                      <li class="categoryHeader">项目类型</li>
                        <li><%= link_to("全部", projects_path) %></li>
                        <li><%= link_to("视频", projects_path(category_id: 1)) %></li>
                        <li><%= link_to("音乐", projects_path(category_id: 2)) %></li>
                        <li><%= link_to("写作", projects_path(category_id: 3)) %></li>
                        <li><%= link_to("科技", projects_path(category_id: 4)) %></li>

                    </ul>
                </div>
                <div class="col-md-10">
                    <%= yield %>
                </div>
            </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
