<!DOCTYPE html>
<html>
    <head>
        <title>用户中心</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body style="background-image: url(/images/Body_bg.png);">

        <div class="container-fluid">
            <%= render "common/navbar" %>
            <div class="row">
            <%= render "common/flashes" %>
              <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs">
                  <%# if current_user.is_admin? %>
                      <!-- <li class="active"><%#= link_to("我的资料",  account_users_path, ) %> </li> -->
                  <%# else %>
                      <li  role="presentation" class="active"><%= link_to("我的资料",  account_users_path ) %> </li>
                      <li  role="presentation" class="active"><%= link_to("我发起的项目", account_projects_path) %> </li>
                      <!-- <li  role="presentation" class="active"><#%= link_to("我的动态", account_project_posts_path(Project.first)) %> </li> -->
                      <li  role="presentation" class="active"><%= link_to("我的项目收入", account_bills_path) %> </li>
                      <li  role="presentation" class="active"><%= link_to("我的支持记录", account_orders_path) %> </li>

                  <%# end %>
                </ul>
              </div>

              <div class="col-md-8 col-md-offset-2">
                <%= yield %>
              </div>
        </div>
</div>
        <%= render "common/footer" %>

    </body>
</html>
